{% extends "./base.html" %}
{% load static %}

{% block css %}
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- Page Content -->
<section>
    <!--    <div class="alert alert-light text-center" role="alert">-->
    <!--        Информационное сообщение-->
    <!--    </div>-->
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h1 class="mt-5">Нетрадиционные единицы времени, основанные на астрономических и внешних факторах, действительно использовались различными культурами в разные эпохи для измерения возраста людей.<br>
                    Вот несколько примеров:</h1>
                <p>1. Древние египтяне использовали лунный календарь для определения возраста человека, который состоял из 12 месяцев по 29-30 дней каждый. Они также делили год на три сезона: весну, лето и зиму.<br>
                    2. В индийской культуре используется система лунных лет (варушамса) для измерения возраста человека. Она основана на лунном календаре и учитывает фазы Луны для определения возраста.<br>
                    3. В древней Греции использовалась система, основанная на олимпийских играх, которые проводились каждые четыре года. Возраст человека мог быть измерен в количестве олимпиад, которые он пережил.<br>
                    4. Некоторые африканские культуры используют систему возраста, основанную на сезонах и погодных условиях. Например, возраст может определяться тем, какой сезон был во время рождения ребенка или как часто случается определенное природное явление в течение жизни человека.<br>
                    5. В некоторых коренных культурах Северной Америки использовалась система возраста, основанная на фазах Луны и движениях солнца. Например, индейцы племени Навахо используют лунный календарь для определения возраста человека.
                </p>
                <p>Использование нетрадиционных единиц времени для измерения возраста отражает глубокую связь людей с природой и их понимание цикличности жизни и Вселенной.</p>
                <button id="start-purchase-btn" type="button" class="btn btn-lg">
                    <a id="start-purchase-link" href="#">
                        Начать покупки
                    </a>
                </button>
            </div>
        </div>
    </div>
</section>
{% endblock %} 